<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading" version="15.7.18" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.7.18" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.53" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="StreamJsonRpc" version="1.4.46-beta" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net45" />
</packages>